Serializing Binary values as Hex

LS-011 (https://www.oasis-open.org/apps/org/workgroup/openc2/email/archives/201811/msg00026.html):

> PROPOSED CHANGE:
> * Within Section 3.1.5 “Serialization”, define a Hex representation of Binary values in accordance with  Section 8 of RFC 4648,  “The Base16, Base32, and Base64 Data Encodings”, https://tools.ietf.org/html/rfc4648
> * Within Section 3.4 “Type Definitions”, specify that the following types use Hex representation:
>   - MAC-Addr
>   - Request-Id
>   - Hashes (md5, sha1, sha256)
>
> JUSTIFICATION:
>
> Although the TC is chartered to develop “unambiguous machine to machine command and control messages”, there is interest within the TC in making messages readable by humans when serialized using the current JSON format.  Using Hex representation for some Binary values addresses the desire for human readability.
>
> Note that Hash values are traditionally shown as Hex, whereas other types such as file attachments and X.509 certificates are traditionally shown as Base64.  The choice of which to use for a particular data type is arbitrary.  Base64 is the default, and Hex may be specified for specific types.

Why does Serialization belong in the *Language* spec at all?

I see no issue with making this change and agree that It may help with visibility.

Pull request #253 addresses this Issue. It will be applied once there's concurrence with Issue #134.