CIDR Range

LS-059 (https://www.oasis-open.org/apps/org/workgroup/openc2/email/archives/201812/msg00008.html):

> PROPOSED CHANGE:
>
> In Sections 3.3.1.2 and 3.4.1, define a new ip_net target consisting of a network address and a CIDR prefix length.  In section 3.4.1.9 modify the ip_connection target to add src_net and dst_net fields of type IP-Net, with the restriction that IP-Connection may have either src_addr or src_net but not both, and the same restriction for dst_addr and dst_net.
>
> JUSTIFICATION:
>
> The IP-Addr target defined in Section 3.4.1.8 is used where a single IP Address is valid, for example in the source or destination address of an IP packet (RFC 791 section 3.1).
>
> In use cases such as those involving routing and filtering, an IP Network target (a contiguous range of IP addresses - RFC 4632) is needed.
>
> DISCUSSION:
>
> It would be possible to overload the IP-Addr target with an optional prefix-length field that would denote a network when present and an endpoint address when absent.  Explicitly defining separate targets allows the syntax to specify when one or the other is required, rather than relying on non-syntax text to describe when an optional prefix-length must or must not be present.
>
> If the predominate use cases for the IP-Connection target involve CIDR ranges, the src_addr and dst_addr fields could be replaced by src_net and dst_net, and a prefix length of /32 would be specified to denote a "host route" when the connection involves only a single address.  This would eliminate the complexity of allowing src_addr or src_net but not both.

Can we discuss this one again today?
I didnt hear the argument for why we need both a net and and ip-addr.
To me, the best solution is to have one field with the mask as optional.
This is also gets around an issue where two fields convey the same data.
I would propose one target and make the mask optional, assuming a /32 for ipv4 and a /128 for ipv6 when it is not specified.
In a profile, it can define what occurs when a mask is not supported (e.g. return an error)

The consensus from the January F2F was to redefine the IP Address from a binary to a string to allow for CIDR notation. The other proposals to add additional targets or add additional properties to the existing targets were all found to be overly, and unnecessarily complex. In the end the simplier, flatter solution gained the consensus.

This issue will be resolved with Issue #134.

LSC Meeting, 3/19/2019: There were no objections to closing this issue after issue #134 was closed.