Duration, Time, Schedule

LS-028 (https://lists.oasis-open.org/archives/openc2-comment/201812/msg00000.html):

> 14-51. Duration [is] defined in milliseconds. Consider Duration as defined in ISO 8601 and its derivatives (RFC 3309). Aside from durations in milliseconds, one may wish a duration in, say, weeks, or months (et al.), as well as the possibility of repeating intervals. For example, For example, "P3Y6M4DT12H30M5S" represents a duration of "three years, six months, four days, twelve hours, thirty minutes, and five seconds”. Duration is implemented in the common Java library Duration.
> 
> This is part of a larger conversation about time and schedule. Assume a particular set of Stateless Packet Filtering commands. Can they be specified to apply to all After-hours periods for the next month? How is After Hours defined? (The security team goes home at 9:00 each evening. The weekend is considered After Hours).
> 
> In general Internet use of Schedule is specified in RFC 5545: the recurrence section seems particularly APT here. The derivative specification WS-Calendar PIM simplifies the information model for M2M communications. The complementary model for “Availability” (and its reciprocal “Unavailability”) (RFC 7953 and WS-Calendar) seem apt here. The former specification is widely used in internet processing, and the latter derivative in Power Grid negotiations (OASIS Energy Interoperation, OpenADR, now IEC 62746-10-1) and in building scheduling (ASHRAE 201). Both Power Grid and Building systems are areas or Cybersecurity concern where informational compatibility would be beneficial.

This issue is very similar to issue number 218.  Suggest combining.  
I believe that at the F2F we agreed to ms since epoch with the logic being that the simplest of actuators could accommodate integers and means to convert of unix time to some other format are widely available. 
Suggest close


This Issue is related to #218, which has been closed with the following explanation:
> Per F2F, 01/2019, we agreed to keep the definition of Duration to integer in milliseconds. A more sophisticated representation of Duration can definitely be added when the use-case is justified.

I suggest that we close this Issue with the same rationale.

LSC Meeting, 2/26/2019: There were no objections to closing this issue. It has been labeled _future_.