IP addr serialization

LS-010 (https://www.oasis-open.org/apps/org/workgroup/openc2/email/archives/201811/msg00023.html):
> PROPOSED CHANGE:
> 1. Specify that IPv4 addresses shall be serialized in accordance with Section 3 of “Textual Representation of IPv4 and IPv6 Addresses”, https://tools.ietf.org/html/draft-main-ipaddr-text-rep-02#section-3, “IPv4 Dotted Octet Format”.
> 
> 2. Specify that IPv6 addresses shall be serialized in accordance with Section 4 of RFC 5952, “A Recommendation for IPv6 Address Text Representation”, https://tools.ietf.org/html/rfc5952#section-4.
>
> Implementing this change will affect several sections of both the Language Specification and the SLPF Actuator Profile, including:
> 1. Within Section 3.1.5 “Serialization”, define the IPv4 and IPv6 Text Representations according to the above references
> 2. Within Section 3.3.1.2 “Target”, replace the “ip_addr” target with separate “ipv4_addr” and “ipv6_addr” targets
> 3. Within Section 3.4 “Type Definitions”, replace the IP-Addr type definition with separate IPv4-Addr and IPv6-Addr type definitions that specify the IPv4 and IPv6 Text Representations respectively
> 4. Within Section 3.4, replace the IP-Connection type definition with separate IPv4-Connection and IPv6-Connection type definitions that use IPv4 and IPv6 addresses respectively in the src_addr and dst_addr fields.
> 5. Within the SLPF Actuator Profile, update all IP address definitions copied from the Language Specification
> 6. Within the SLPF Actuator Profile Annex C “Sample Commands”, update all example messages to use Text Representation for IPv4 addresses, e.g., “1.2.3.4”, “198.2.3.4”, “198.51.100.17”.  (Note: there are currently no sample commands that contain IPv6 addresses.)
>
> JUSTIFICATION:
> Although the TC is chartered to develop “unambiguous machine to machine command and control messages”, there is clear consensus within the TC that those messages should also be readable by humans when serialized using the current JSON format.  Using the IETF-defined Text Representations of IP addresses satisfies that desire for human readability.

This issues will be addressed with Issue #134.

LSC Meeting, 3/19/2019: There were no objections to closing this issue once issue #134 was closed.