Normative/Non-normative Statements

LS-064 (https://lists.oasis-open.org/archives/openc2-comment/201812/msg00009.html):

> Create a normative vs. non-normative text statement and then mark text accordingly. There is no description of markings for normative versus non-normative text. Generally that says text is normative unless marked as non-normative, all examples are non-normative, etc.

LS-065 (https://lists.oasis-open.org/archives/openc2-comment/201812/msg00009.html):

> Label 1.6, 1.7, 1.8 as non-normative. From the language in these sections, I presume them to be non-normative but they need a label saying so.

LS-066 (https://lists.oasis-open.org/archives/openc2-comment/201812/msg00009.html):

> Label 2. OpenC2 Language Description as non-normative with minor revisions. Are there any requirements in 2 that can't be included elsewhere? Seems non-normative.

LS-076 (https://lists.oasis-open.org/archives/openc2-comment/201812/msg00009.html):

> Label the example as non-normative if not all examples are declared non-normative.
> 
> Example following the unlabeled table (needs a label and number) is non-normative. Needs a non-normative label.

LS-084 (https://lists.oasis-open.org/archives/openc2-comment/201812/msg00009.html):

> Label appendices as normative or non-normative, Appendices A-C are not labeled as normative or non-normative

LS-069 (https://lists.oasis-open.org/archives/openc2-comment/201812/msg00009.html):

> Offset all "for example and other examples from normative text. Just search for example and offset the following text as an example and mark as non-normative."
>
> For example, the JSON "number" type represents integers and real numbers as decimal strings without quotes, e.g., \{ "height": 68.2 }, and as noted in RFC 7493 Section 2.2, a sender cannot expect a receiver to treat an integer with an absolute value greater than 2^^53 as an exact value."
>
> Examples should be offset from the rest of the normative text. Here, had you done so, you would have noticed the "as noted in RFC 7493..." is a reference to normative behavior or expectations. Should be stated separately.

We had the same comment in the SLPF and it came up in the https transfer spec (see issue Normative / non-normative language (HTTPS-25)).  Suggest adopting the resolution taken by the HTTPS transfer spec so that we consistent. 

The comments related to Section 1 are resolved with pull request #270.

Pull request #271 addresses comment LS-064.

Still need to address LS-069 and LS-076 related to handling examples within the document.

Pull request #281 addresses the remaining comments.

LSC Meeting, 3/19/2019: There were no objections to applying pull request #281 and closing this issue.